
  <% if user_signed_in? %>
  
    <%= link_to 'New Post', new_post_path, class: 'btn btn-default' %>
  <% else %>
    <%= link_to 'Log in to Post', new_user_session_path, class: 'btn btn-default navbar-btn' %>
    or
    <%= link_to 'Sign up to Post', new_user_registration_path, class: 'btn btn-default navbar-btn' %>

  <% end %>
  
<table>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= post.user.firstname %>
          <%= post.user.lastname %>
        </td>
        <td> &nbsp; writes: &nbsp; </td>

        <td><%= link_to post.title, post %></td>

        <!--<td><%= post.body %></td>-->
        <!--<td><%= link_to 'Show', post %></td>-->
        <!--<td><%= link_to 'Edit', edit_post_path(post) %></td>-->
        <!--<td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

